<div class="types">
  <p>Choose a style</p>
  <%= link_to party_index_path do %>
    <div>Party</div>
  <% end %>

  <%= link_to work_index_path do %>
    <div>Work</div>
  <% end %>

  <%= link_to casual_index_path do %>
    <div>Casual</div>
  <% end %>
</div>