<h1> Style Search </h1>

<div class"user">
  <%= link_to categories_path do %>
    <span>Women</span>
  <% end %>

  <%= link_to men_categories_path do %>
    <span>Men</span>
  <% end %>
</div>

<div class="vertical_line"></div>