<div class="custom_widget">
  <% if @blazers.products.any? %>
    <% @blazers.products.each do |product| %>
      <% if product["description"].include?("velvet") || product["description"].include?("satin") %>
      <div class="product">
        <a class = "item" href=<%= product['pageUrl'] %>><%= image_tag product["image"]["sizes"]["XLarge"]["url"], :class => "style_image" %></a>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>