// Place all the styles related to the bohemian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 3em;
  margin-left: 15em;
}

p {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  color: black;
  text-align: center;
}