// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
}

span {
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 30px;
}

a {
    text-decoration: none;
}