// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(./fashion_sketch.jpg);
  background-repeat: no-repeat; 
  background-position: 100% 15%;
  background-size: 50% 400%;
  background-color: black;
}

body:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid black;
    max-width: 90%
}

h1, span {
  font-family: 'Dancing Script', cursive;
  color: white;
}

h1  {
  font-size: 80px;
  position: relative;
  left: 7%;
}

span {
  font-size: 40px;
  position: relative;
  left: 13%;
  padding: 20px;
}

a {
    text-decoration: none;
}

.user {
  position: absolute;
  bottom: 50%;
}