<%= link_to glamorous_path do %>
  <span>Glamorous</span>
<% end %>

<%= link_to bohemian_index_path do %>
  <span>Bohemian</span>
<% end %>

<%= link_to classic_index_path do %>
  <span>Classic</span>
<% end %>